{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>World of Prediction</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-dark-gray p-0 m-0 w-full absolute overflow-x-hidden min-h-full font-MavenPro text-white">
	<header class="w-full h-20 z-10 sticky top-0 inset-x-0 bg-dark-gray border-b border-red">
		<div class="relative mx-auto w-full h-full max-w-screen-2xl flex justify-start">
			<img class="h-3/5 w-auto inline-block my-auto ml-4 text-orange" src="{% static 'logo.png' %}" alt="Logo" height="350"
				width="350">
			<h1 class="inline-block my-auto text-red font-bold text-2xl ml-4">World of Prediction</h1>
		</div>
	</header>

	<div class="w-full max-w-screen-2xl relative inset-x-0 mx-auto">
		<div class="absolute -z-10 h-[800px] max-h-[70vh] w-full">
			<img src="{% static 'bg.png' %}" class="object-cover h-full object-center w-full" alt="Background image">
			<div class="absolute inset-0 bg-image h-full w-full z-0"></div>
		</div>
		<section class="w-full h-[800px] max-h-[70vh] relative block">
			<div class="pt-20 pl-[10%]">
				<h2 class="text-shadow text-5xl font-bold tracking-2 w-3/5">Master the <span class="text-yellow">Art of
						Battle</span></h2>
				<h3 class="text-shadow text-2xl font-bold tracking-2 w-2/5">Your ultimate PvP Arena predictor<br>for <span
						class="text-green">Mist Of Pandaria</span><span>*</span></h3>

				<p class="text-shadow text-xs w-2/5 mt-[15%]">* This content is not affiliated with, endorsed,
					sponsored, or specifically approved by Blizzard
					Entertainment® or World of Warcraft®</p>
			</div>
		</section>

		<section class="w-full pb-20">
			<div class="mt-20">
				<h3 class="text-4xl font-bold tracking-2 text-center">What's the type of the game?</h3>
				<div id="game_type_selection" class="flex justify-around mt-32">
					<button id="bg" class="w-1/5 border-2 border-white opacity-60 rounded-lg py-3 text-xl tracking-2 hover:text-orange hover:border-orange hover:opacity-100 transition">Battle
						Ground</button>
					<button id="2v2" class="w-1/5 border-2 border-white opacity-60 rounded-lg py-3 text-xl tracking-2 hover:text-orange hover:border-orange hover:opacity-100 transition">Arena
						2v2</button>
					<button id="3v3" class="w-1/5 border-2 border-white opacity-60 rounded-lg py-3 text-xl tracking-2 hover:text-orange hover:border-orange hover:opacity-100 transition">Arena
						3v3</button>
					<button id="5v5" class="w-1/5 border-2 border-white opacity-60 rounded-lg py-3 text-xl tracking-2 hover:text-orange hover:border-orange hover:opacity-100 transition">Arena
						5v5</button>
				</div>
			</div>
			<div class="mt-80">
				<h3 class="text-4xl font-bold tracking-2 text-center">What's the map of the game?</h3>
				<select id="mapSelector"
					class="mt-32 w-2/6 px-4 text-center text-xl tracking-2 mx-auto block bg-dark-gray border-green border-2 rounded-lg text-green">
					<option>Choose a map</option>
				</select>
			</div>
			<div class="mt-80">
				<h3 class="text-4xl font-bold tracking-2 text-center">Define the players for each teams</h3>
				<div class="mt-32 flex justify-around">
					<div class="w-2/5 border-2 border-white rounded-2xl py-4 pb-8">
						<h3 class="text-center text-3xl mb-12">Team A</h3>
						<!-- <button
							class="border-2 border-blue text-xl text-blue rounded-md py-1 px-4 mx-auto block relative opacity-80 hover:opacity-100 transition">🎲
							Randomize</button> -->
						<div class="mt-10 w-4/5 mx-auto">
							<div id="teamAInputsContainer" class="w-full flex justify-around">
								<div class="w-2/6 block">
									<!-- <h4 class="pl-4 text-xl tracking-1">Race</h4> -->
									<select
										class="w-full px-4 text-left text-xl tracking-2 mx-auto block bg-dark-gray border-white border rounded-lg text-white mt-4">
										<option>Race</option>
									</select>
								</div>
								<div class="w-3/6 block">
									<!-- <h4 class="pl-4 text-xl tracking-1">Class</h4> -->
									<select
										class="w-full px-4 text-left text-xl tracking-2 mx-auto block bg-dark-gray border-white border rounded-lg text-white mt-4">
										<option>Class</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="w-2/5 border-2 border-white rounded-2xl py-4">
						<h3 class="text-center text-3xl mb-12">Team B</h3>
						<!-- <button
							class="border-2 border-blue text-xl text-blue rounded-md py-1 px-4 mx-auto block relative opacity-80 hover:opacity-100 transition">🎲
							Randomize</button> -->
						<div class="mt-10 w-4/5 mx-auto">
							<div id="teamBInputsContainer" class="w-full flex justify-around">
								<div class="w-2/6 block">
									<!-- <h4 class="pl-4 text-xl tracking-1">Race</h4> -->
									<select
										class="w-full px-4 text-left text-xl tracking-2 mx-auto block bg-dark-gray border-white border-2 rounded-lg text-white mt-4">
										<option>Race</option>
									</select>
								</div>
								<div class="w-3/6 block">
									<!-- <h4 class="pl-4 text-xl tracking-1">Class</h4> -->
									<select
										class="w-full px-4 text-left text-xl tracking-2 mx-auto block bg-dark-gray border-white border-2 rounded-lg text-white mt-4">
										<option>Class</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-40">
				<p id="predictionResult" class="mb-20 text-center text-3xl tracking-2 hidden"><span class="text-green font-bold">Team A</span> has <span class="text-blue font-bold">56%</span> of winrate against <span class="text-red font-bold">Team B</span></p>

				<button id="predictButton"
					class="border-2 border-red text-xl px-10 block relative mx-auto text-red rounded-lg py-2 tracking-2 font-bold opacity-80 hover:opacity-100 transition">
					Predict the winner
				</button>
			</div>
		</section>
	</div>

	<script src="{% static 'js/home.js' %}"></script>
</body>

</html>